:root {
    --grid-size: 0;
    --grid-cell-size: 4vmax;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--grid-size) * var(--grid-cell-size));
}
.grid-row {
    display: flex;
}

.grid-cell {
    width: var(--grid-cell-size);
    aspect-ratio: 1 / 1;
    border: 1px solid whitesmoke;
    border-radius: 4px;
}
.grid-cell:hover {
    cursor: pointer;
    background: #61dafb;
}